# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# env
.env
.env*.local
!.env.example

# firebase
.firebase/
firebase-debug.log
serviceAccount*.json

# misc
.DS_Store
*.log
.vercel
.turbo

# typescript
*.tsbuildinfo

# test
coverage/

.vercel
